.titles, .presentation, .pitch, .funfact {
    max-width: 550px;
    margin: auto;
    padding: 50;
    text-align: center;
    line-height: 1.5;
}

.twitch {
    position: absolute;
    top : 50%;
    right: 33%;
    border-radius: 17px;
    background: linear-gradient(145deg, #6f1416, #5e1113);
    height : 75px;
    max-width: 550px;
    padding : 10;
    text-align: center;
    margin: auto;
}

.titles {
    font-weight: bold;
    font-size: 45;
    font-variant: small-caps;
}

.presentation, .pitch {
    font-size: 25;
}

.funfact {
    padding-top: 100px;
}